# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Visual Studio
.vs/

# Logs
*.log

# .NET publish output
publish/

# NuGet packages
*.nupkg
*.snupkg
packages/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/
coverage/

# Secret files
secrets.json
